FROM python:3.12-alpine

WORKDIR /app
ENV PYTHONDONTWRITEBYTECODE=1
ENV PYTHONUNBUFFERED=1

COPY api/requirements.txt ./
RUN python -m pip install --no-cache-dir -r requirements.txt

COPY api/app ./app

EXPOSE {{ ports.api }}

CMD ["python", "-m", "app.main"]
